# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ejemplo-login/node_modules
/ejemplo-login/.pnp
/ejemplo-login/.pnp.js

# testing
/ejemplo-login/coverage

# production
/ejemplo-login/build

# misc
/ejemplo-login/.DS_Store
/ejemplo-login/.env
/ejemplo-login/.env.local
/ejemplo-login/.env.development.local
/ejemplo-login/.env.test.local
/ejemplo-login/.env.production.local

/ejemplo-login-backend/node_modules
/ejemplo-login-backend/.env
/ejemplo-login-backend/dist
